[submodule "third-party/abseil-cpp"]
	path = third-party/abseil-cpp
	url = git@github.com:/abseil/abseil-cpp.git
	branch = lts_2022_06_23
	shallow = true
[submodule "third-party/incubator-brpc"]
	path = third-party/incubator-brpc
	url = git@github.com:/apache/incubator-brpc.git
	branch = master
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = git@github.com:/fmtlib/fmt.git
	branch = a33701196adfad74917046096bf5a2aa0ab0bb50
	shallow = true
[submodule "third-party/glog"]
	path = third-party/glog
	url = git@github.com:/google/glog.git
	branch = b33e3bad4c46c8a6345525fd822af355e5ef9446
	shallow = true
