[submodule "third-party/abseil-cpp"]
	path = third-party/abseil-cpp
	url = git@github.com:/abseil/abseil-cpp.git
	branch = lts_2022_06_23
[submodule "third-party/incubator-brpc"]
	path = third-party/incubator-brpc
	url = git@github.com:/apache/incubator-brpc.git
	branch = master
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = git@github.com:/fmtlib/fmt.git
	branch = master
[submodule "third-party/glog"]
	path = third-party/glog
	url = git@github.com:/google/glog.git
	branch = master
